@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary-color: #282a36;
  --pink-color: #e963c1;
  --white-color: #ebebeb;
  --gray-color: #777;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-color);
}

header {
  background-color: var(--white-color);
  width: 100%;
  padding: 32px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 2px solid var(--pink-color);
}

.links {
  font-size: 22px;
}

.links a {
  text-decoration: none;
  color: var(--gray-color);
  position: relative;
}

.links a + a {
  margin-left: 32px;
}

.links a.active {
  font-weight: bold;
  color: var(--pink-color);
}

.links a:hover {
  color: var(--pink-color);
  transition: 500ms;
}

.links a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--pink-color);
  position: absolute;
  left: 0;
  bottom: -4px;
} 

.links a:hover::after {
  width: 100%;
  transition: width 700ms ease-in-out;
}



/*=== CARD ===*/

.card {
  background-color: var(--white-color);
  width: 800px;
  min-height: 400px;
  margin: 45px auto;
  display: grid;
  grid-template-columns: 40% 60%;
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.8);

  opacity: 0;
  animation-name: gym;
  animation-duration: 700ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  animation-play-state: running;
  animation-iteration-count: 3;
  animation-direction: alternate;
}

@keyframes gym {
  0% {
    transform: translateY(15px);
  }

  100%{
    opacity: 1;
  }
}



/*=== avatar ===*/

.avatar {
  box-shadow: 5px 1px 6px -2px rgba(0, 0, 0, 0.4);
}



/*=== details ===*/

.details {
  padding: 32px;
}

.details .item + .item {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 16px 0;
}

.details .item:first-of-type {
  padding: 16px 0;
}

.details h3, .details .item div:nth-child(1) {
  color: #777;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 0.7px;
}

.details .item div:nth-child(2) {
  color: #555;
  font-weight: bold;
  font-size: 20px;
}

.details h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  color: var(--pink-color);
  text-align: center;
}

.details .item div:nth-child(2) span, tbody tr td.matters span {
  padding: 8px 16px;
  background-color: var(--pink-color);
  border-radius: 16px;
  color: #d1cece;
  margin-right: 4px;
  margin-top: 8px;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
}



/*=== FORM ===*/

form input, form select {
  width: 100%;
  outline: none;
  color: #555;
  font-size: 18px;
  font-weight: bold;
  background-color: var(--white-color);
}

form input[type="radio"] {
  width: initial;
  margin-right: 4px;
}

form input::placeholder {
  font-size: 16px;
  font-weight: normal;
}

button[type="submit"], a.button {
  padding: 8px 32px;
  background-color: var(--pink-color);
  color: var(--white-color);
  border-radius: 4px;
  margin-top: 32px;
  width: 100%;
  font-size: 16px;
}

a.button {
  display: block;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
}

#form-delete button[type="submit"] {
  margin-top: 11px;
  background-color: #fd3535;
}



/*=== INDEX TEACHRES ===*/

.table-container {
  display: block;
  padding: 40px;
  box-sizing: border-box;
}

.table-container table {
  border-spacing: 0;
  width: 100%
}

.table-container  thead tr th {
  text-align: left;
}

th, tr {
  padding: 16px;
  border-bottom: 1px solid #d9d9d9;
}

th {
  text-transform: uppercase;
  color: #777;
  font-size: 15px;
}

.table-container  thead tr th:last-child, td:last-child {
  text-align: center;
}

thead tr th.schoolYear, tbody tr td.schoolYear {
  text-align: center;
}

tbody tr:last-child {
  border-bottom: none;
}

tbody tr td:first-child {
  display: grid;
  grid-template-columns: 56px 1fr;
  align-items: center;
}

tbody tr td:first-child span {
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 3px 1px 6px -4px black;
  border: 2px solid white;
}

tbody tr td:last-child a, .table-container > a {
  background-color: var(--pink-color);
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  border-radius: 5px;
}

.table-container > a {
  margin-bottom: 8px;
  display: inline-block;
}

tbody tr td.matters span {
  margin-top: 0;
  margin-right: 8px;
  color: var(--white-color);
  font-weight: normal;
}
