{% extends "layout.njk" %}

{% block content %}

  <div class="card table-container">

    <a href="/teachers/create"> Novo </a>

    <table>
      <thead>
        <tr>
          <th> Professor(a) </th>
          <th colspan="3"> Aula(s) </th>
          <th> Detalhes </th>
        </tr>
      </thead>
      <tbody>
        {% for teacher in teachers %}
          <tr>
            <td>
              <span style="background-image: url({{teacher.avatar_url}})"></span>
              {{teacher.name}}
            </td>
            {% for matter in teacher.matters %}
              <td class="matters"> <span> {{matter}} </span> </td>
            {% endfor %}
            <td><a href="/teachers/{{ teacher.id }}"> Ver </a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock content %}